<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709957154397-25dqum7p5ujo81vj0hl300adfj6j7avo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709957154397-25dqum7p5ujo81vj0hl300adfj6j7avo</string>
	<key>API_KEY</key>
	<string>AIzaSyCiO2XGwqnovPgKWPvtC_2ch0tqVSBbtJI</string>
	<key>GCM_SENDER_ID</key>
	<string>709957154397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blog</string>
	<key>PROJECT_ID</key>
	<string>iosandandroidblogapp-d0f77</string>
	<key>STORAGE_BUCKET</key>
	<string>iosandandroidblogapp-d0f77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709957154397:ios:9f9b03d978296d62dc7fb4</string>
	<key>DATABASE_URL</key>
	<string>https://iosandandroidblogapp-d0f77.firebaseio.com</string>
</dict>
</plist>